<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      User Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p (click) = "updateUsername()">Username: {{user.username}}</p>
  <ion-row>
      <p (click) = "updatePassword()">Password: </p>
      <ion-input (click) = "updatePassword()" value="password" type="password" readonly></ion-input>
  </ion-row>
  <p (click) = "updateRole()">Role: {{user.role}}</p>
  <ion-button size="small" color="tertiary" (click)='logout()'>Logout</ion-button>
  <ion-button size="small" color="tertiary" (click)='delete()'>Delete Account</ion-button>
</ion-content>