<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="tertiary" (click)="goBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="register()">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-padding">
            <div class="form-group">
              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input type="text" formControlName="username" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && userForm.username.errors }"></ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && userForm.password.errors }"></ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item>
                <ion-label position="floating">Confirm Password</ion-label>
                <ion-input type="password" formControlName="confirmPassword" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && userForm.confirmPassword.errors }">
                </ion-input>
              </ion-item>
              <div lines="none" class='form-text error'
                *ngIf="userForm.controls.confirmPassword.touched && userForm.hasError('notSame') && userForm.controls.password.valid">
                <ion-text color="danger">
                  <h6>*Password do not match</h6>
                </ion-text>
              </div>
            </div>
          </div>
          <div class="ion-padding">
            <div class="form-group">
              <ion-button class="btn btn-primary" [disabled]="!userForm.valid" type="submit" color="tertiary">Set
                Student
              </ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>