<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-button size="small" color="tertiary" (click)='setTrueValidation()'>Validations</ion-button>
    </ion-col>
    <ion-col>
      <ion-button size="small" color="tertiary" (click)='setTrueStudent()'>Students</ion-button>
    </ion-col>
    <ion-col>
      <ion-button size="small" color="tertiary" (click)='setTrueUsers()'>Users</ion-button>
    </ion-col>
  </ion-grid>
  <div *ngIf="validationPressed">
    <ion-item lines="none">
      <ion-input [(ngModel)]="searchStudent" type="text" placeholder="Student dni"></ion-input>
      <ion-icon name="search" (click)="getValidation()" slot="end"></ion-icon>
    </ion-item>
    <div *ngIf="validationSearched">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>{{validation.dni}}</p>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="information-circle-outline" (click)="enterValidation(validation.dni)" slot="end">
              </ion-icon>
              <ion-icon name="person" slot="end" (click)="enterStudent(validation)"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="bar bar-header bar-light">
      <h4 class="ion-text-center">Validations</h4>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>DNI</p>
        </ion-col>
        <ion-col>Status</ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <ion-list *ngFor="let validation of validations">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>{{validation.dni}}</p>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="information-circle-outline" (click)="enterValidation(validation.dni)" slot="end">
              </ion-icon>
              <ion-icon name="person" slot="end" (click)="enterStudent(validation)"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
  <div *ngIf="studentPressed">
    <ion-item lines="none">
      <ion-input [(ngModel)]="dni" type="text" placeholder="Student dni"></ion-input>
      <ion-icon name="search" (click)="getStudent()" slot="end"></ion-icon>
    </ion-item>
    <div *ngIf="studentSearched">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>{{student.dni}}</p>
          </ion-col>
          <ion-col>
            <p>{{student.studentName}}</p>
          </ion-col>
          <ion-col>
            <p>{{student.firstSurname}}</p>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="person" (click)="enterStudent(student)" slot="end"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="bar bar-header bar-light">
      <h4 class="ion-text-center">Students</h4>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>DNI</p>
        </ion-col>
        <ion-col>
          <p>Student Name</p>
        </ion-col>
        <ion-col>
          <p>First Surname</p>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <ion-list *ngFor="let student of students">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>{{student.dni}}</p>
          </ion-col>
          <ion-col>
            <p>{{student.studentName}}</p>
          </ion-col>
          <ion-col>
            <p>{{student.firstSurname}}</p>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="person" (click)="enterStudent(student)" slot="end"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
  <div *ngIf="userPressed">
    <ion-item lines="none">
      <ion-input [(ngModel)]="username" type="text" placeholder="Username"></ion-input>
      <ion-icon name="search" (click)="getUser()" slot="end"></ion-icon>
    </ion-item>
    <div *ngIf="userSearched">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>{{user.username}}</p>
          </ion-col>
          <ion-col>
            <p>{{user.role}}</p>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="contact" (click)="enterUser(user)" slot="end"></ion-icon>
              <ion-icon name="trash" (click)="deleteUser(user.username)" slot="end"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="bar bar-header bar-light">
      <h4 class="ion-text-center">Users</h4>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>Username</p>
        </ion-col>
        <ion-col>
          <p>Role</p>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <ion-list *ngFor="let user of users">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>{{user.username}}</p>
          </ion-col>
          <ion-col>
            <p>{{user.role}}</p>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-icon name="cog" (click)="enterUser(user)" slot="end"></ion-icon>
              <ion-icon name="trash" (click)="deleteUser(user.username)" slot="end"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>